<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <div class="container-fluid" style="background-color: rgba(0,0,255,.1)">
        <h1>
            <!--Change name here-->
            <center>About Chris</center>
            <br><br><br>
        </h1>
    </div>
</head>


<body>
    <div class="container-fluid" style="background-color:antiquewhite; height: 100vh">
        <div class="row">
            <!--place images in static folder
                use same format ../static/name of picture-->
            <div class="mx-auto">
                <img src="../static/chrisPic.jpg" class="img-thumbnail"
                    style="background-color: rgba(0,0,255,.1);width:100px; height: 100px;">
            </div>
        </div>

        <div class="row">
            <div class="mx-auto">
                Hi, My name is Chris. I like cars and music. (:
            </div>
        </div>

        <div class="row">
            <div class="container">
                <a class="btn btn-primary" href="/aboutHome" role="button">Back to about page</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>
