<!--
    File: contact.html
    Author: Chandler Cruz
    Description: Users will access and use this form
    when contacting sellers about a listing. They can view
    the item's title, image, and description while creating
    their own offer on price, location, etc. This page will also
    check if the user is logged in when they contact a seller,
    offering for them to log in or register if they aren't.
-->

{% extends "base.html" %}
{% block content %}
<head>
	    <title>Contact Seller</title>
</head>
<div class="container">
    <center>
        <h1>Contact</h1>
    </center>

    {% if popUp == 'True' %}
    <script>
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        {{message}}
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <form name="contactForm" href="#" method="POST" enctype="multipart/form-data">
        <!-- Table for contact form -->
        {% for listing in data %}
        {% set fileName = listing[3]|string %}
        {% set path = "static/listing_images/" + fileName + ".jpg" %}
        <table class="table">
            <tr>
                <td rowspan="4" colspan="2">
                    <img src="{{path}}" class="img-fluid"></td>
                <td><label for="title">Listing<br>Title:</label></td>
                <td><p name="title" id="title">{{listing[0]}}</p></td>
            </tr>
            <tr>
                <td><label for="condition">Condition:</label></td>
                <td><p name="condition" id="condition">{{listing[5]}}</p></td>
            </tr>
            <tr>
                <td><label for="seller_pref_location">Seller's<br>preferred<br>location:</label></td>
                <td><p name="seller_pref_location" id="seller_pref_location">{{listing[6]}}</p></td>
            </tr>
            <tr>
                <td rowspan="2"><label for="user_message">Message: </label></td>
                <td rowspan="2">
                    <textarea id="user_message" name="user_message" rows="8"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">Listing ID: {{listing[3]}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <center><label for="description"><em>Description</em></label></center>
                </td>
                <td><label for="suggest_price">Price:</label></td>
                <td><p name="suggest_price" id="suggest_price">{{listing[1]}}</p></td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2">
                    <p name="description" id="description">{{listing[4]}}</p>
                </td>
                <td><label for="user_pref_location">Your<br>preferred<br>location:</label></td>
                <td>
                    <select name="user_pref_location" id="user_pref_location">
                        {% for location in locations %}
                        <option value="{{location[0]}}">{{location[0]}}</option>
                        <!-- <option value="library">Library</option>
                        <option value="bookstore">Outside Bookstore</option>
                        <option value="gym">Wellness Center</option> -->
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" name="listingId" value="{{listing[3]}}">
        {% endfor %}
        <div class="row">
            <div class="col">
                <div class="btn-toolbar justify-content-between">
                    <div class="btn-group" role="group" aria-label="cancel">
                        <button type="button" class="btn btn-primary">Cancel</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="contact">
                        <button type="submit" class="btn btn-primary" id="contactButton" data-toggle="modal"
                            data-target="#lazy-registration">Contact</button>
                    </div>
                </div>
            </div>
        </div>

        {% if username == '' %}
        <div class="modal" id="lazy-registration" tabindex="0" role="form" aria-labelledby="lazy-registration-window" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1><center>You must have an account to contact a seller</center></h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h2>LOG IN</h2>
                        <center><label for="loginEmail">Email: </label>
                        <input type="text" name="loginEmail" id="loginEmail" required></center>
                        <br>
                        <center><label for="password">Password: </label>
                        <input type="password" name="password" id="password" required></center>
                        <center><a href="" class="nav-link" id="forgotPassword">Forgot Password</a></center>
                        <center><div class="btn-group" role="group" aria-label="submit">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div></center>
                        <br>
                        <h2>OR</h2>
                        <div class="nav-item">
                            <center><a href="/register" class="nav-link" id="registerButton">Create an Account</a></center>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        {% endif %}
    </form>

</div>
{% endblock %}
