<!--
    dashboard.html

    Description: This is the user dashboard page. From a sidebar to
    the left of the screen, the user can shift between four tabs:
    "My Postings", "Messages Sent", and "Messages Received".
    From these tabs they can review each item of the given tab in a table.
-->


{% extends "base.html" %}
{% block content %}
<head>
	    <title>SFSU TradeMart</title>
</head>
<div class="row">
    <!-- Sidebar -->
    <div style="font-size:2.5vw;" class="col-3">
        <div class="nav flex-sm-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <h6 style="font-size:2.5vw;" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Dashboard</h6>
            <a class="nav-link active" id="v-pills-my-postings-tab" data-toggle="pill" href="#v-pills-my-postings" role="tab" aria-controls="v-pills-my-postings" aria-selected="true">My Postings</a>
            <a class="nav-link" id="v-pills-messages-sent-tab" data-toggle="pill" href="#v-pills-messages-sent" role="tab" aria-controls="v-pills-messages-sent" aria-selected="false">Messages Sent</a>
            <a class="nav-link" id="v-pills-messages-received-tab" data-toggle="pill" href="#v-pills-messages-received" role="tab" aria-controls="v-pills-messages-received" aria-selected="false">Messages Received</a>
        </div>
    </div>
    <!-- end Sidebar -->

    <!-- Sidebar Tab Content -->
    <div class="col-8">
        <br>
        <div class="tab-content" id="v-pills-tabContent">
            <!-- My Postings Tab -->
            <div class="tab-pane fade show active responsive-table-text" id="v-pills-my-postings" role="tabpanel" aria-labelledby="v-pills-my-postings-tab">
                <h1 class="text-center" style="font-size:3vw;">My Postings</h1>
                <h6 style="font-size:2vw;">{{(posts|length)}} of {{(posts|length)}} item(s)</h6>

                <!-- My Postings Item Table -->
                <table style="font-size:2vw;" class="table table-responsive-sm table-bordered table-hover">
                    <thead >
                        <tr>
                            <th scope="col">Date Posted</th>
                            <th scope="col">Post Title</th>
                            <th scope="col">More Info</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for counter in range(posts|length) %}
                            <tr>
                                {% set post = posts[loop.index-1] %}
                                <th scope="row">{{post[1]}}</th>
                                <td>{{post[0]}}</td>
                                <div class="d-flex justify-content-center">
                                    <td>
                                        <button type="button" style="font-size:2vw;" class="btn btn-primary" data-toggle="modal" data-target="#my-postings-{{post[8]}}">
                                            More Info
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" style="font-size:2vw;" class="btn btn-danger" data-toggle="modal" data-target="#delete-my-postings-{{post[8]}}">
                                            Delete
                                        </button>
                                    </td>
                                </div>
                                {% if post[2] == 1 %}
                                    <td>Approved</td>
                                {% else %}
                                    <td>Pending</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- end My Postings Item Table -->

                <!-- My Postings More Info Buttons -->
                <!-- When the user clicks More Info, the info comes in the form of a pop-up (Info is hardcoded for now.)-->
                {% for counter in range(posts|length) %}
                    {% set post = posts[loop.index-1] %}
                    <div class="modal fade" id="my-postings-{{post[8]}}" tabindex="-1" role="dialog" aria-labelledby="my-postings-{{post[8]}}-Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="my-postings-1-Title">{{post[0]}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Post Title: {{post[0]}}<br>
                                        Category: {{post[3]}}<br>
                                        Rating (Condition): {{post[4]}}<br>
                                        Location: {{post[6]}}<br>
                                        Description: {{post[7]}}<br>
                                        {% if post[2] == 1 %}
                                            Status: Approved
                                        {% else %}
                                            Status: Pending
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- end My Postings More Info Buttons -->

                <!-- My Postings Delete Buttons -->
                <!-- When the user clicks to delete a post, it will ask them if they are sure before doing so.-->
                {% for counter in range(posts|length) %}
                    {% set post = posts[loop.index-1] %}
                    <div class="modal fade" id="delete-my-postings-{{post[8]}}" tabindex="-1" role="dialog" aria-labelledby="my-postings-{{post[8]}}-Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="my-postings-1-Title">Delete "{{post[0]}}" Listing?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body responsive-table-text">
                                    <p>
                                        Are you sure you want to delete this listing?<br>
                                        This will delete all associated messages as well.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <form method="POST" action="">
                                        <input type="hidden" name="deleteListID" value="{{post[8]}}">
                                        <button type="submit" class="btn btn-danger mr-auto delete-post">
                                            Delete
                                        </button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                               </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- end My Postings Delete Buttons -->
                
            </div>
            <!-- end My Postings Tab -->

            <!-- Messages Sent Tab -->
            <div class="tab-pane fade responsive-table-text" id="v-pills-messages-sent" role="tabpanel" aria-labelledby="v-pills-messages-sent-tab">
                <h1  style="font-size:3vw;" class="text-center">Messages Sent</h1>
                <h6 style="font-size:2vw;">{{(messagesSentInfo|length)}} of {{(messagesSentContent|length)}} item(s)</h6>
                <!-- Messages Sent Item Table-->
                <table style="font-size:2vw;" class="table table-responsive-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date Sent</th>
                            <th scope="col">Receiver id</th>
                            <th scope="col">Message Title</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for counter in range(messagesSentInfo|length) %}
                            <tr>
                                {% set offer = messagesSentInfo[loop.index-1] %}
                                {% set offer_info = messagesSentContent[loop.index-1] %}
                                <th scope="row">{{offer_info[5]}}</th>
                                <td>{{offer_info[1]}}</td>
                                <td>{{offer_info[3]}}</td>
                                <td>
                                    <button type="button" style="font-size:2vw;"  class="btn btn-primary" data-toggle="modal" data-target="#messages-sent-{{offer_info[2]}}">
                                        View Details
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- end Messages Sent Item Table-->

                <!-- Messages Sent View Details Buttons -->
                <!-- When the user clicks View Details, the info comes in the form of a pop-up (Info is hardcoded for now.)-->
                {% for counter in range(messagesSentInfo|length) %}
                    {% set offer = messagesSentInfo[loop.index-1] %}
                    {% set offer_info = messagesSentContent[loop.index-1] %}
                    <div class="modal fade" id="messages-sent-{{offer_info[2]}}" tabindex="-1" role="dialog" aria-labelledby="messages-sent-{{offer_info[2]}}-Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="messages-sent-1-Title">{{offer_info[3]}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body responsive-table-text">
                                    <p>
                                        Message Title: {{offer_info[3]}}<br>
                                        Location: {{offer[5]}}<br>
                                        Message: {{offer_info[4]}}<br>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- end Messages Sent View Details Buttons -->

            </div>
            <!-- end Messages Sent Tab -->

            <!-- Messages Received Tab -->
            <div class="tab-pane fade responsive-table-text" id="v-pills-messages-received" role="tabpanel" aria-labelledby="v-pills-messages-received-tab">
                <h1 style="font-size:3vw;" class="text-center">Messages Received</h1>
                <h6 style="font-size:2vw;">{{(messagesReceivedInfo|length)}} of {{(messagesReceivedContent|length)}} item(s)</h6>

                <!-- Messages Received Item Table -->
                <table style="font-size:2vw;" class="table table-responsive-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">From</th>
                            <th scope="col">Message Title</th>
                            <th scope="col">Offer</th>
                            <th scope="col">Location</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    {% for counter in range(messagesReceivedInfo|length) %}
                        {% set offer = messagesReceivedInfo[loop.index-1] %}
                        {% set offer_info = messagesReceivedContent[loop.index-1] %}
                        <tbody>
                            <tr>
                                <th scope="row">{{offer_info[0]}}</th>
                                <td>{{offer_info[3]}}</td>
                                <td>${{offer[4]}}</td>
                                <td>{{offer[5]}}</td>
                                <td>{{offer_info[4]}}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <!-- end Messages Received Item Table -->

            </div>
            <!-- end Messages Received Tab -->
        </div>
    </div>
    <!-- end Sidebar Tab Content -->
</div>
{% endblock %}
