{% extends "base.html" %}
{% block content %}
<!-- contents -->

<!-- class title -->
<div class="" style="background-color: rgba(0,0,255,.1); width: 100vw;">
  <h1>
    <center> Software Engineering class SFSU <br>
      Fall 2020 <br>
      Section 3 <br>
      Team 7<br>
    </center>
  </h1>
</div>
<!-- end class title -->

<!-- listing contents -->
<div class="container" style="border-style: none; height: 100vh; border-top: 0;">
  <!-- title -->
  <div class="row justify-content-md-center">
    <div class="column">
      <a style="font-size: 50px; font-weight: bold;">New Listings</a>
    </div>
  </div>
  <!-- end title -->

  <!-- image -->
  <div class="row justify-content-md-center">
    <div class="column" style="height: 500px; width: 500px; margin-top: 50px;">
      <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#homeCarousel" data-slide-to="0" id="0" class="active"></li>
          <li data-target="#homeCarousel" data-slide-to="1" id="1"></li>
          <li data-target="#homeCarousel" data-slide-to="2" id="2"></li>
        </ol> -->
        <div class="carousel-inner">
          <!-- {{limit}} -->
          {% set listing = data[0] %}
          {% set fileName = listing[3]|string %}
          <!-- {% set path = pathPrefix + fileName+".jpg" %} -->
          {% set path = pathPrefix + "thumbnail_" + fileName+"_quarter_size.jpg" %}

          <!-- first listing -->
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{path}}" style="height: 450px">
            <div class="carousel-caption d-none d-md-block" style="color: black;">
            </div>
            <center>
              <form method="POST" action="listing">
                <h1>
                  <input type="hidden" name="listingId" value="{{listing[3]}}">
                  <button style="background: none; border: none;">{{listing[0]}}</button>
                </h1>
                {% set price = '$' + listing[1]|string %}
                <h2>{{price}}</h2>
              </form>
            </center>
          </div>
          <!-- end first listing -->

          <!-- rest of the listings -->
          {% for counter in range(limit-1) %}
            <div class="carousel-item">
              <!-- {{loop.index}} -->
              {% set listing = data[loop.index] %}
              {% set fileName = listing[3]|string %}
              <!-- {% set path = pathPrefix + fileName+".jpg" %} -->
              {% set path = pathPrefix + "thumbnail_" + fileName+"_quarter_size.jpg" %}
              <!-- {{path}} -->
              <img class="d-block w-100" src="{{path}}" style="height: 450px">
              <div class="carousel-caption d-none d-md-block" style="color: black;">
              </div>
              <center>
                <form method="POST" action="listing">
                  <h1>
                    <input type="hidden" name="listingId" value="{{listing[3]}}">
                    <button style="background: none; border: none;">{{listing[0]}}</button>
                  </h1>
                  {% set price = '$' + listing[1]|string %}
                  <h2>{{price}}</h2>
                </form>
              </center>
            </div>
          {% endfor %}
          <!-- end rest of the listings -->

        </div>
        <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </div>
</div>
<!-- end listing contents -->
<script type="text/javascript" src="../static/javascript/basicFunctions.js"></script>
<!-- end contents -->
{% endblock %}