<!-- 
    base.html
    Description:
    This page the home page a user will be greeted with upon first opening the website.
    
    Contents:
    There is a class title header and a portion which shows the most current listings posted. From here one can click on the listing and that will bring 
    you to the listing page of that item.
 -->
<!-- navbar -->
{% extends "base.html" %}
<!-- end navbar -->

<!-- contents to be placed in -->
{% block content %}
<!-- page title -->
<head>
  <title>SFSU Trade Mart</title>
</head>
<!-- end page title -->


<!-- this is a popup to show the status of account creation (success) -->
<!-- {{popUp}} -->
{% if popUp == "True" %}
<script>
  $(window).on('load', function () {
    $('#myModal').modal('show');
  });
</script>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
          {{message}}
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- end popup -->





<!-- class title -->
<link rel="shortcut icon" href="favicon/favicon.ico">
<div class="" style="background-color: rgba(0,0,255,.1);">
  <h1>
    <center>
      Welcome to SFSU Trademart
    </center>
  </h1>
</div>
<!-- end class title -->

<!-- listing contents -->
<div class="container" style="border-style: none; height: 100vh; border-top: 0;">
  <!-- title -->
  <div class="row justify-content-md-center justify-content-center">
    <div class="column"> 
      <a style="font-size: 50px; font-weight: bold;">
          New Listings
      </a>
    </div>
  </div>
  <!-- end title -->

  <!-- carousel(listings) container-->
  <div class="row justify-content-md-center">
    <div class="column" style="height: 500px; width: 500px; margin-top: 50px;">
      <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#homeCarousel" data-slide-to="0" id="0" class="active"></li>
          <li data-target="#homeCarousel" data-slide-to="1" id="1"></li>
          <li data-target="#homeCarousel" data-slide-to="2" id="2"></li>
        </ol> -->
        <div class="carousel-inner">
          <!-- data array passed in contains appropriate information needed -->
          {% set listing = data[0] %} 
          {% set fileName = listing[3]|string %}
          {% set path = pathPrefix + "thumbnail_" + fileName+"_quarter_size.jpg" %}

          <!-- first listing -->
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{path}}" style="height: 450px">
            <div class="carousel-caption d-none d-md-block" style="color: black;">
            </div>
            <center>
              <form method="POST" action="listing" target="_blank">
                <!-- contents of listing -->
                <h1>
                  <input type="hidden" name="listingId" value="{{listing[3]}}">
                  <button style="background: none; border: none;">{{listing[0]}}</button>
                </h1>
                {% set price = '$' + listing[1]|string %}
                <h2>{{price}}</h2>
                <!-- end of contents -->
              </form>
            </center>
          </div>
          <!-- end first listing -->

          <!-- rest of the listings -->
          {% for counter in range(limit-1) %}
            <div class="carousel-item">
              <!-- {{loop.index}} -->
              {% set listing = data[loop.index] %}
              {% set fileName = listing[3]|string %}
              {% set path = pathPrefix + "thumbnail_" + fileName+"_quarter_size.jpg" %}
              <!-- {{path}} -->
              <img class="d-block w-100" src="{{path}}" style="height: 450px">
              <div class="carousel-caption d-none d-md-block" style="color: black;">
              </div>
              <center>
                <form method="POST" action="listing" target="_blank">
                  <!-- listing contents -->
                  <h1>
                    <input type="hidden" name="listingId" value="{{listing[3]}}">
                    <button style="background: none; border: none;">{{listing[0]}}</button>
                  {% set price = '$' + listing[1]|string %}
                  <h2>{{price}}</h2>
                  <!-- end listing contents -->
                </form>
              </center>
            </div>
          {% endfor %}
          <!-- end rest of the listings -->

        </div>

        <!-- buttons for navigating the listings -->
        <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- end navigation buttons -->
      </div>
    </div>
  </div>
  <!-- end of carousel -->
</div>
<!-- end listing contents -->

{% endblock %}
<!-- end contents -->
