{% extends "base.html" %}
{% block content %}
<style>
    p {text-align: center;}
    </style>
<div class="row">
    <div class="col-sm-8">
    <p><img src = "static/listing_images/12381.jpg" width="750" height="750"> </p>
    </div>    
    <div class="col-sm-4">
        <br>
        <br>
   <p style="font-size: 1.5vw;"> <b>Name of product</b> </p>
     <br>
   <p>From:User2343 (4.5/5 14 Reviews)</p> 
   <br>
    <p>Quality: Fair </p>
    <br>
    <p style="font-size: 2vw;">Suggested Price:</p>
    <div>
    <p style="font-size: 2.5vw;"><b>$50.00</b></p>
    </div>
    <br>

    <p style="font-size: 1.25vw;">Description: A description of the item that will be stored in the database</p>
    <br>

    <div class="row">
        <div class="col">
        </div>
        
            <div class="btn-toolbar justify-content-between">
                <div class="btn-group" role="group" aria-label="Make Offer">
                    <button type="button" class="btn btn-primary">Make Offer</button>
                </div>
            </div>
        <div class="col">
        </div>
    </div>
 <br>
    <div class="row">
        <div class="col">
        </div>
        
            <div class="btn-toolbar justify-content-between">
                <div class="btn-group" role="group" aria-label="Return">
                    <button type="button" class="btn btn-primary">Return</button>
                </div>
            </div>
        <div class="col">
        </div>
    </div>

{% endblock %}
