<!-- 
    signIn.html
    Description:
    This page is where a user can sign into their account.

    Contents: A form is provided for the user to input their login credentials to the website. There is an option to create an account and 
    a link which will assist a user if they forgot their password. User email is verified to make sure it is of the correct form.
 -->

<!-- navbar -->
{% extends "base.html" %}
<!-- end navbar -->

<!-- contents to be placed in -->
{% block content %}
<!-- page title -->
<head>
    <title>Sign In</title>
</head>
<!-- end page title -->

<!-- page contents -->
<div class="container" style="height: 80vh;">

    <!-- this is a popup to show the status of account creation (error or success) -->
    <!-- {{popUp}} -->
    {% if popUp == "True" %}
    <script>
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        {{message}}
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- end popup -->

    <!-- Form title -->
    <center>
        <h1>Sign In</h1>
    </center>
    <!-- end form title -->

    <div class="d-flex justify-content-center align-items-center" style="height:inherit;">
        <div class="p-2" style="height:max-content; width:50%">
            <!-- form -->
            <form name="signInForm" href="/signIn" method="POST">
                <!-- email -->
                <div class="row">
                    <div class="col">
                        <label for="emailAddress">* Email address</label> <br>
                        <input type="text" id="emailAddress" name="loginEmail"
                            onblur="emailCheck(); return specialCharCheck('emailAddress')" onfocus="emailCheck()"
                            style="width: 100%" maxlength="45" required>
                        <label for="emailAddress" id="emailError" style="color: red;"></label>
                        <br>
                        <label class="text-muted" for="emailAddress">We'll never share your email with anyone
                            else</label>
                    </div>
                </div>
                <!-- end email -->

                <!-- password -->
                <div>
                    <label for="password">Password</label> <br>
                    <input type="password" id="password" name="password" style="width: 100%;" maxlength="45" required
                        onblur="return alphaNumericCheck('password')">
                </div>
                <!-- end password -->

                <!-- forgot password and register button -->
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div class="p-2">
                        <a href="" target="_blank">
                            <h6>Forgot your password</h6>
                        </a>
                    </div>
                    <div class="p-2">
                        <a href="/register" target="_blank">
                            <h6>Create An Account</h6>
                        </a>
                    </div>
                </div>
                <!-- end forgot password and register -->

                <!-- cancel/submit button -->
                <div class="d-flex justify-content-center" style="width: 100%;">
                    <div class="p-2">
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group" role="group" aria-label="submit">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end cancel/submit button -->
            </form>
            <!-- end form -->
        </div>
    </div>
</div>
<!-- end page contents -->

{% endblock %}
<!-- end contents -->