#category-dropdown select {
  height: 40px;
}

#category-dropdown select:focus {
  height: 40px;
}

.responsive-nav-links {
  font-size: 1.5vw;
}

.responsive-table-text {
  font-size: 2vw;
}

.responsive-listing-title {
  font-size: 5vw;
}

.responsive-listing-info {
  font-size: 3vw;
}

.responsive-listing-price {
  font-size: 4vw;
}

.responsive-listing-description {
  font-size: 3vw;
}

@media screen and (max-width: 575px) {
  .responsive-nav-links {
    font-size: 1.5rem;
  }

  .responsive-table-text {
    font-size: 3.5vw;
  }

  .responsive-listing-title {
    font-size: 7rem;
  }
  
  .responsive-listing-info {
    font-size: 5rem;
  }
  
  .responsive-listing-price {
    font-size: 6rem;
  }
  
  .responsive-listing-description {
    font-size: 5rem;
  }
}