<!-- 
    aboutHome.html
    Description:
    This is the main home page which a user can click on a button to go to a team member's about page

    Contents:
    A button to go to each about page
 -->

 <!-- navbar -->
{% extends "base.html" %}
<!-- end navbar -->

<!-- contents to be placed in -->
{% block content %}
<!-- page title -->
<head>
    <title>About Us</title>
</head>
<!-- end page title -->

<!-- about info -->
<div class="container-fluid" style="background-color:antiquewhite; height: 100vh">
    <!-- title -->
    <!-- <div style="background-color: rgba(0,0,255,.1)">
        <h1>
            <center> Software Engineering class SFSU <br>
                Fall 2020 <br>
                Section 3 <br>
                Team 7<br>
            </center>
        </h1>
    </div> -->
    <!-- end title -->
    <div class="row">
        <div class="mx-auto">
            <h1>
                About Us
            </h1>
        </div>
    </div>

    <!-- all links to individual abouts -->
    <div class="row">
        <!--name your html in format aboutName.html
      fill out about text also -->
        <div class="mx-auto">
            <a class="btn btn-primary" href="aboutChris.html" target="_blank" role="button">About Chris</a>
            <a class="btn btn-primary" href="aboutRicardo.html" target="_blank" role="button">About Ricardo</a>
            <a class="btn btn-primary" href="aboutValeria.html" target="_blank" role="button">About Valeria</a>
            <a class="btn btn-primary" href="aboutAlicia.html" target="_blank" role="button">About Alicia</a>
            <a class="btn btn-primary" href="aboutChandler.html" target="_blank" role="button">About Chandler</a>
            <a class="btn btn-primary" href="aboutJonathan.html" target="_blank" role="button">About Jonathan</a>
        </div>
    </div>
    <!-- end user links -->
</div>
<!-- end about info -->

{% endblock %}
<!-- end contents -->
