{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="background-color: rgba(0,0,255,.1)">
    <h1>
        <!--Change name here-->
        <center>About Chandler</center>
        <br><br><br>
    </h1>
</div>

<div class="container-fluid" style="background-color:antiquewhite; height: 100vh">
    <div class="row">
        <!--place images in static folder
                use same format ../static/name of picture-->
        <div class="mx-auto">
            <img src="../static/chandlerPic.png" class="img-thumbnail"
                style="background-color: rgba(0,0,255,.1);width:100px; height: 100px;">
        </div>
    </div>

    <div class="row">
        <div class="mx-auto">
            Hello, I'm Chandler! I like penguins, video games, and video games about penguins.
        </div>
    </div>

    <div class="row">
        <div class="container">
            <a class="btn btn-primary" href="/aboutHome" role="button">Back to about page</a>
        </div>
    </div>
</div>
{% endblock %}