{% extends "base.html" %}
{% block content %}
<head>
	    <title>About Team 7</title>
</head>
<!-- about info -->
<div class="container-fluid" style="background-color:antiquewhite; height: 100vh">
    <!-- title -->
    <div style="background-color: rgba(0,0,255,.1)">
        <h1>
            <center> Software Engineering class SFSU <br>
                Fall 2020 <br>
                Section 3 <br>
                Team 7<br>
            </center>
        </h1>
    </div>
    <!-- end title -->
    <div class="row">
        <div class="mx-auto">
            <h1>
                About Us
            </h1>
        </div>
    </div>

    <div class="row">
        <!--name your html in format aboutName.html
      fill out about text also -->
        <div class="mx-auto">
            <a class="btn btn-primary" href="aboutChris.html" role="button">About Chris</a>
            <a class="btn btn-primary" href="aboutRicardo.html" role="button">About Ricardo</a>
            <a class="btn btn-primary" href="aboutValeria.html" role="button">About Valeria</a>
            <a class="btn btn-primary" href="aboutAlicia.html" role="button">About Alicia</a>
            <a class="btn btn-primary" href="aboutChandler.html" role="button">About Chandler</a>
            <a class="btn btn-primary" href="aboutJonathan.html" role="button">About Jonathan</a>
        </div>
    </div>
</div>
{% endblock %}
